<footer>
    <div class="container bg-white">
        <div class="row">
            <div class="col mt-4">
                <p class="footer-link"><a href="#">Giới thiệu về công ty</a></p>
                <p class="footer-link"><a href="#">Câu hỏi thường gặp mua hàng</a></p>
                <p class="footer-link"><a href="#">Chính sách bảo mật</a></p>
                <p class="footer-link"><a href="#">Quy chế hoạt động</a></p>
                <p class="footer-link"><a href="#">Kiểm tra hóa đơn điện tử</a></p>
                <p class="footer-link"><a href="#">Tra cứu thông tin bảo hành</a></p>
            </div>
            <div class="col mt-4">
                <p class="footer-link"><a href="#">Tin tuyển dụng</a></p>
                <p class="footer-link"><a href="#">Tin khuyến mãi</a></p>
                <p class="footer-link"><a href="#">Hướng dẫn mua online</a></p>
                <p class="footer-link"><a href="#">Hướng dẫn mua trả góp</a></p>
                <p class="footer-link"><a href="#">Chính sách trả góp</a></p>
            </div>
            <div class="col mt-4">
                <p class="footer-link"><a href="#">Hệ thống cửa hàng</a></p>
                <p class="footer-link"><a href="#">Hệ thống bảo hành</a></p>
                <p class="footer-link"><a href="#">Kiểm tra hàng Apple chính hãng</a></p>
                <p class="footer-link"><a href="#">Giới thiệu máy đổi trả</a></p>
                <p class="footer-link"><a href="#">Chính sách đổi trả</a></p>
            </div>
            <div class="col mt-4">
                <p class="smaller m-0">Tư vấn mua hàng (Miễn phí)</p>
                <h5 class="text-danger">1800 6601</h5>
                <p class="font-weight-bold m-0">
                    Hỗ trợ thanh toán:
                </p>
                <div><span><i class="fab fa-cc-visa fa-2x text-danger"></i></span>
                    <span><i class="far fa-credit-card fa-2x text-warning"></i></span>
                    <span><i class="fab fa-cc-mastercard fa-2x text-info"></i></span>
                </div>
            </div>
            <div class="col mt-4">
                <p class="smaller m-0">Góp ý, khiếu nại dịch vụ (8h00-22h00)</p>
                <h5 class="text-danger">1800 6616</h5>
                <p class="font-weight-bold m-0 mb-1">
                    Liên hệ:
                </p>
                <div><span><i class="fab fa-facebook-square fa-2x text-primary mr-1"></i></span>
                    <span><i class="fab fa-instagram fa-2x text-danger mr-1"></i></span>
                    <span><i class="fab fa-twitter-square fa-2x text-info"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p class="m-0 py-2">© 2007 - 2020 Công Ty Cổ Phần Bán Lẻ Kỹ Thuật Số FPT / Địa chỉ: 261 - 263 Khánh Hội, P5, Q4, TP. Hồ Chí Minh / GPĐKKD số 0311609355 do Sở KHĐT TP.HCM cấp ngày 08/03/2012.
            GP số 47/GP-TTĐT do sở TTTT TP HCM cấp ngày 02/07/2018. Điện thoại: (028)73023456.
            Email: fptshop@fpt.com.vn. Chịu trách nhiệm nội dung: Nguyễn Trịnh Nhật Linh.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>