<nav>
    <div class="logo">
        <img src="/img/logo/logoTTMD.jpg" alt="logo">
        <h4>TruongMinhDuc</h4>
    </div>
    <div class="search-container">
        <form class="search" action="/phone/search" method="GET">
            <input type="text" placeholder="Nhập nội dung cần tìm kiếm..."  class="smaller" name="key">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="nav-links">
        <ul class="m-0">
            <li class="nav-link"><a href="/"><i class="fas fa-home nav-icon"></i>Trang chủ</a></li>
            <li class="nav-link"><a  href="/sold-out"><i class="fas fa-mobile nav-icon"></i>Bán chạy</a></li>
            <li class="nav-link dropdown">
                <a  href="/phone" ><i class="fas fa-mobile-alt nav-icon"></i>Smart phone</a>
                <ul>
                    <li class="drop-link"><a href="/phone/samsung">Samsung</a></li>
                    <li class="drop-link"><a href="/phone/iphone">Iphone</a></li>
                    <li class="drop-link"><a href="/phone/oppo">Oppo</a></li>
                    <li class="drop-link"><a href="/phone/huawei">Huawei</a></li>
                    <li class="drop-link"><a href="/phone/realme">Realme</a></li>
                    <li class="drop-link"><a href="/phone/vivo">Vivo</a></li>
                </ul>
            </li>
            <li class="nav-link"><a><i class="fas fa-id-card-alt nav-icon"></i>Chính sách bảo hành</a></li>
            <li class="cart mr-3">
                <a href="/cart/products"><i class="fas fa-cart-plus cart-icon text-light"></i></a>
            <div class="count"><%=totalCart !== undefined? totalCart: ''%></div>
            </li>
        </ul>
    </div>
</nav>