<div class="title text-center p-0 py-1">
    <p class="text-light m-0">Tin công nghệ</p>
</div>
<div class="row bg-light mx-0 my-2 py-2 news">
   <div class="col-md-4">
        <img src="/img/product/note8.png" style="width:7rem; height: 6.5rem;" alt="">
   </div>
   <div class="col-md-8 pt-2">
        <p>Samsung ra mắt Galaxy Note 8 tại sự Kiện Unpack tối hôm qua 05/08</p>
   </div>
</div>
<div class="row bg-light mx-0 my-2 py-2 news">
    <div class="col-md-4">
        <img src="/img/product/ipX.jpg" style="width:7rem; height: 6.5rem;" alt="">
    </div>
    <div class="col-md-8 pt-2">
        <p>Apple ra mắt Iphone X series tại sự Kiện Unpack tối hôm qua 05/08</p>
    </div>
</div>